<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <div class="sidebar">
        <div class="profile">
            <img src="" alt="Profile Picture">
            <h2>Radiatul Mutmainnah</h2>
        </div>
        <%- include('partials/navbartegar.ejs') %>
    </div>
    <div class="content">
        <header>
            <h1>Welcome, Radiatul Mutmainnah</h1>
            <p>April 2, 2024</p>
        </header>
        <div class="main-content">
            <div class="overview">
                <img src="/image/foto/SidangKu.png" alt="Building Image">
                
                <div class="actions">
                    <a href="/form">
                        <button>Daftar Sidang</button>
                    </a>
                    <a href="/manajemen_jadwal">
                        <button>Jadwal Sidang</button>
                    </a>
                    <a href="/riwayat">
                        <button>Riwayat Sidang</button>
                    </a>
                    
                </div>
            </div>
            
        </div>
        <aside>
            <div class="status">
                <h2>Status Sidang</h2>
                <p>Sidang Disetujui</p>
                <div class="graph">
                    <!-- Placeholder for graph -->
                </div>
            </div>
            <div class="announcements">
                <h2>Pengumuman</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptatibus?</li>
                </ul>
            </div>
        </aside>
    </div>
</body>
</html>
