<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Edit Profile</title>
</head>
<body>
    <div class="container">
        <form action="editprofile" method="put">
            <h4>Edit Profile</h4>

            <div class="input-section">
                <label>Profile Picture</label>
                <input type="file" id="profilPic" name="profilePic" accept="image/*" onchange="previeImage(event)">
            </div>

            <div class="input-section">
                <label>Nama Depan</label>
                <input type="text" placeholder="Masukkan Nama Depan Baru" id="first-name-input" name="first_name">
        
            </div>
            <div class="input-section">
                <label>Nama Belakang</label>
                <input type="text" placeholder="Masukkan Nama Belakang Baru" id="last-name-input" name="last_name">
            </div>

            <div class="input-section">
                <label>Email</label>
                <input type="email" placeholder="Masukkan Email Baru" id="email" name="email">
            </div>

            <div class="input-section">
                <label>Nomor Telepon</label>
                <input type="tel" placeholder="Masukkan Nomor Telepon Baru" id="phone" name="phone">
            </div>

            <div class="input-section">
                <label>Alamat</label>
                <input type="text" placeholder="Masukkan Alamat Baru" id="address" name="address">
            </div>

            <button id="submit-button">Save Changes</button>
        </form>
    </div>
          
</body>
</html>