<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/Loginstyle.css">
</head>
<body>
    <div class="login-page">
        <div class="login-container">
            <div class="log">
                <h2>Login</h2>
                <form action="/" method="POST" id="formLogin">
                    <div class="input-container">
                        <img src="/image/foto/username.png" class="input-icon" alt="Logo">
                        <input type="text" id="username" name="username" class="username-input" placeholder="Username" style="padding-left:35px;">
                    </div>
                    <div class="input-container">
                        <img src="/image/foto/password.png" class="input-icon" alt="Logo">
                        <input type="password" id="password" name="password" class="password-input" placeholder="Password" style="padding-left:35px;">
                    </div>
                    <input type="submit" value="LOGIN">
                    <div style="color: blue; text-decoration: underline; text-align: right; margin-top: -20px; font-size: 12px;">
                        <a href="/adminLogin" style="color: blue; text-decoration: underline; text-align: right; margin-top: -20px; text-decoration: none; text-align: center; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3 ease;">
                            Admin
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="hijau">
            <img src="/image/foto/login.png">
        </div>
    </div>
</body>
</html>

