<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleprofile.css">
    <title>Profile</title>
</head>
<body>

    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <img src="" alt="">
                <div class="profile-text-container">
                    <h1 class="profile-tittle">Profile</h1>
                    <p class="profile-email">ganteng@gmail.com</p>
                </div>
            </div>

           <form action="" class="account">
            <div class="account-header">
                <h1 class="account-tittle">Account Setting</h1>
            <div class="btn-container">
                <button class="btn-cancel">Cancel</button>
                <button class="btn-save">Save</button>
            </div>
            </div>

            <div class="account-edit">
                <div class="input-container">
                    <label for="">First Name</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="input-container">
                    <label for="">Last Name</label>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="input-container">
                    <label for="">email</label>
                    <input type="email" placeholder="Your Email">
                </div>
                <div class="input-container">
                    <label for="">Contact</label>
                    <input type="tel" placeholder="Phone Number">
                </div>
                <div class="input-container">
                    <label for="">Alamat</label>
                    <input type="text" placeholder="Alamat">
                </div>
            </div>
           </form>
        </div>
    </div>

    
    
</body>
</html>