*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color:#294B29;
}

.container{
  width: 90vw;
  max-width: 600px;
  padding: 2em 1.5em;
  background-color: whitesmoke;
  margin: 1em auto;
  border-radius: 0.5em;
}

h4{
  font-size: 1.5em;
}

.input-section {
  margin: 0.5em 0;
}

#profilePicUploadButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

label{
  display: block;
  margin-bottom: 0.5em;
  font-weight: 500;
}

input, button{
  display: block;
  outline: none;
  width: 100%;
  padding: 0.5em;
  margin-top: 10px;
  margin-bottom: 0;
}

input {
  padding: 1em 0.5em;
  border: 1.5px solid white;
}


button{
  font-size: 1em;
  background-color: aquamarine;
  border: none;
  color: black;
  padding: 0.8em;
  cursor: pointer;
}

@media only screen and(max-width:450px){
  .container{
    font-size: 14px;
  }
}