body {
    background: linear-gradient(to right, #fff 40%, #426142 10%);
    font-family: Arial, sans-serif;
}



.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 0; /* Menghapus margin kiri */
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(50, 83, 50);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #294B29;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
